<a href="https://colab.research.google.com/github/tunesvfc/bootcamp_ftl/blob/main/day4_exercicio.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
"""
Exercício 1:
Dadas duas listas de números, crie uma nova lista que contenha:
• apenas os números ímpares da primeira lista
• e os números pares da segunda lista.
Exemplo:
lista1 = [10, 21, 4, 45, 66, 93]
lista2 = [13, 43, 24, 36, 12, 8]
Saída esperada:
[21, 45, 93, 24, 36, 12, 8]
"""
lista1 = [10,21,4,45,66,93]
lista2 = [13,43,24,36,12,8]

lista3 = []

for i in lista1:
    if i % 2 != 0:
        lista3.append(i)

for i in lista2:
    if i % 2 == 0:
        lista3.append(i)

print(lista3)

[21, 45, 93, 24, 36, 12, 8]

In [2]:
"""
Exercício 2:
Escreva um programa para contar o número total de dígitos em um número, utilizando um
loop while.
Exemplo:
Número: 75869
Saída: 5
"""
num = 75869
count = 0
while num != 0:
    num = num // 10
    count = count + 1
print("Qdade de dígitos é:", count)

Total de dígitos é: 5

In [3]:
"""
Exercício 3:
Crie uma função que receba dois inteiros.
• Se o produto deles for menor ou igual a 1000, retorne o produto.
• Caso contrário, retorne a soma.
Exemplo:
Entrada: 20, 30 → Saída: 600
Entrada: 40, 30 → Saída: 70
"""

def soma_ou_produto(num1, num2):
    produto = num1 * num2
    if produto <= 1000:
        return produto
    else:
        return num1 + num2
print(soma_ou_produto(20,30))
print(soma_ou_produto(40,30))

600
70

In [ ]:
"""
Dada uma lista, remova todas as ocorrências do número 20.
Exemplo:
Entrada: [5, 20, 15, 20, 25, 50, 20]
Saída: [5, 15, 25, 50]
"""
lista = [5,20,15,20,25,50,20]
while 20 in lista:
    lista.remove(20)
print(lista)

In [4]:
"""
Exercício 5:
Dada a seguinte tupla:
tupla = (11, 22, 33, 44, 55, 66)
Crie uma nova tupla apenas com os elementos 44 e 55.
Saída esperada:
(44, 55)
"""

tupla = (11,22,33,44,55,66)
#nova_tupla = (tupla[3],tupla[4])
nova_tupla = tupla[3:5]
print(nova_tupla)

(44, 55)

In [5]:
"""
Exercício 6:
Dado o dicionário:
sample_dict = {
"nome": "Kelly",
"idade": 25,
"salário": 8000,
"cidade": "Nova York"
}
Crie um novo dicionário apenas com as chaves "nome" e "salário".
Saída esperada:
{'nome': 'Kelly', 'salário': 8000}
"""
dicionario = {
    "nome": "Kelly",
    "salário": 8000,
}
print(dicionario)

{'nome': 'Kelly', 'salário': 8000}